<section class="the-top">
    <h1>Welcome to your dashboard {{user.username}}</h1>
</section>
<section class="large-post-holder">
{{#each postsArray as | post |}}
    <a href="/editdash/{{post.id}}/?id={{post.id}}" class="post-holder">
        <article class="post-title-holder">
            <h1>{{post.title}}</h1>
            <h1>Posted By {{post.user.username}} on {{post.updatedAt}}</h1>
        </article>
    </a>
{{/each}}
<button onclick='window.location.href="/submitdash"'>+ New Post</button>
</section>

