<section class="the-top">
    <h1>This is the homepage</h1>
</section>
<section class="large-post-holder"> 
{{#each postsArray as | post |}}
    <a class="post-holder" href="/homepost/{{post.id}}/?id={{post.id}}">
        <section>
            <article class="post-title-holder">
                <h1>{{post.title}}</h1>
                <h1>Posted By {{post.user.username}}</h1>
            </article>
            <article class="post-content-holder">
                <h1>{{post.content}}</h1>
            </article>
        </section>
    </a>
    {{#each post.comments as | comment |}}
    <article class="post-holder">
        <article class="post-title-holder">
            <h1>{{comment.content}}</h1>
            <h1>Posted By {{comment.user.username}}</h1>
        </article>
    </article>
    {{/each}}
{{/each}}
</section>
